.RecipeCard {

    width: 20rem;
    height: 26rem;
    @include screen-sm {
        width: 14rem;
        height: 20rem;
    }
    @include screen-xl {
        width: 20rem;
        height: 26rem;
    }
    border-radius: 30px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    &-image {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;

        &-wrapper {
            height: 75%;
            overflow: hidden;
        }
    }

    &-content {
        padding: 1rem;
        height: 25%;
        position: relative;
    }

    &-name {
        @include screen-sm {
            font-size: 1rem;
        }
    }

    &-info {
        font-size: 1.25rem;
    }

    &-rating {
        border-right: 1.5px solid $black;
        padding-right: 0.5rem;

        &-star {}
    }

    &-duration {
        padding-left: 0.5rem;
        font-weight: bold;
    }

    &-heart {
        border: none;
        background: none;
        padding: 0 0.5rem;
        font-size: 2rem;
        position: absolute;
        top: 0px;
        right: 0px;
    }

}