// Hide elements from view, but not from screen readers
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  // Reduce motion
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.001s !important;
      transition-duration: 0.001s !important;
      animation-iteration-count: 1 !important;
    }
  }
  
  /* A11y: Skip Link */
  .skip-link {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  
    &:focus {
      -webkit-clip-path: none;
      clip-path: none;
      z-index: 10000;
      text-decoration: none;
      text-align: center;
      padding: 1rem 2rem;
      margin-left: 1rem;
      line-height: 1;
    }
  }
  
  #main-content:focus {
    color: $black;
  }
  
  