@import './variables';
@import './mixins';
@import './reset';
@import './a11y';
@import './typography';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.content-wrapper {
    width: 80vw;
    margin: 0 10vw;
    max-width: 1200px;
    @include screen-custom(1500px) {
        margin: 0 auto;
    }
}